.query {
    background-color: azure;
    padding: 10px 20px;
    border-radius: 20px;
}
.query__input {
    display: flex;
    gap: 10px;
}
.query__input > label input {
    padding: 10px 20px;
    border-radius: 5px;
}
.query__button {
    padding: 10px 0;
    text-align: right;
}
.query__button > button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(218, 234, 252);
}
